VITE_APPWRITE_ENDPOINT="https://sfo.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a850db700193ddf2d05"
VITE_APPWRITE_DATABASE_ID="6a850dcd0017f990a16d"
VITE_APPWRITE_POSTS_COLLECTION_ID="6a850ddf00174115c6b6"
VITE_APPWRITE_API_URL="https://nutinbutheat-api.nutin.workers.dev"
